/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(175, 55%, 40%);
  --first-color-light: hsl(175, 30%, 48%);
  --first-color-lighten: hsl(175, 40%, 62%);
  --gradient-color: linear-gradient(180deg,
                  hsl(178, 35%, 45%),
                  hsl(178, 55%, 28%));
  --title-color: hsl(175, 40%, 16%);
  --text-color: hsl(175, 8%, 50%);
  --white-color: #fff;
  --body-color: hsl(175, 100%, 99%);
  
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== CARD ===============*/
.container {
  height: 100vh;
  margin-inline: 1.5rem;
  display: grid;
  place-items: center;
}

.card {
  position: relative;
  width: 290px;
  background: var(--gradient-color);
  border-radius: 1rem 1rem 11rem 11rem;
  padding: 2.5rem 1.5rem 3.5rem;
  text-align: center;
  box-shadow: 0 8px 32px hsla(178, 55%, 20%, 0.15);
}
.card__img {
  width: 90px;
}
.card__border {
  width: 124px;
  height: 124px;
  background-color: var(--first-color-light);
  border-radius: 50%;
  margin: 0 auto 1rem;
  display: grid;
  place-items: center;
}
.card__perfil {
  width: 104px;
  height: 104px;
  background-color: var(--first-color-lighten);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.card__name, .card__profession {
  color: var(--white-color);
}
.card__name {
  font-size: var(--h2-font-size);
  font-weight: 600;
  margin-bottom: 0.25rem;
}
.card__profession {
  font-size: var(--smaller-font-size);
  font-weight: 500;
}

/*=============== CARD INFO ===============*/
.info {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  background-color: var(--white-color);
  padding: 2.5rem 1.5rem 3.3rem;
  border-radius: 1rem 1rem 11rem 11rem;
  clip-path: circle(16px at 250px 40px);
  transition: clip-path 0.4s ease-in-out;
}
.info__icon {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--first-color);
  display: inline-flex;
  padding: 0.25rem;
  cursor: pointer;
  transition: opacity 0.3s;
}
.info__img {
  width: 45px;
}
.info__border {
  width: 64px;
  height: 64px;
  background-color: var(--first-color-light);
  border-radius: 50%;
  margin: 0 auto 1rem;
  display: grid;
  place-items: center;
  transform: translateX(-3rem);
  transition: transform 0.8s;
}
.info__perfil {
  width: 52px;
  height: 52px;
  background-color: var(--first-color-lighten);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.info__data {
  display: grid;
  row-gap: 0.25rem;
  margin-bottom: 1.5rem;
  transform: translateX(-4rem);
  transition: transform 1s;
}
.info__name {
  font-size: var(--normal-font-size);
  color: var(--title-color);
}
.info__profession, .info__location {
  font-size: var(--smaller-font-size);
}
.info__social {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  transform: translateX(-5rem);
  transition: transform 1.2s;
}
.info__social-link {
  width: 32px;
  height: 32px;
  background-color: var(--first-color-light);
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: transform 0.3s;
}
.info__social-link:hover {
  transform: translateY(-0.25rem);
}
.info__social-icon {
  display: inline-flex;
  background: var(--gradient-color);
  padding: 0.25rem;
  border-radius: 50%;
  color: var(--white-color);
  font-size: 1rem;
}

/* Card info animation */
.info:hover {
  clip-path: circle(75%);
}
.info:hover .info__icon {
  opacity: 0;
}
.info:hover .info__border, .info:hover .info__data, .info:hover .info__social {
  transform: translateX(0);
}